.seccion_pagina{

  position: absolute;
  width: 1143px;
  height: 1363px;
  left: 296px;
  top: 0px;

}

.div_intro{
  margin-top: 110px;
  margin-left: 48px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px; */

  /* position: absolute;
  width: 1047px;
  height: 222px;
  left: 48px;
  top: 105px; */

}

.texto_bienvenida{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #0e2525;
}

.div_intro h3 {
  margin-top:50px
}

.div_frase{
  background: #B3DBDB;
  border-radius: 8px;
  padding: 15px;
}

.frase{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 180%;
  color: #000000;
}

.buttonClass {
  cursor: pointer;
}

.div_button {
  display: flex;
  justify-content: flex-end;
}

.cambiar_frase_button {

  margin-top: 15px;
  padding: 7px 14px;
  background: #2D7474;
  border-radius: 8px;

  color: #fff;
}

.cambiar_frase_button:hover{
  transition: all .2s ease-in-out;
  background: #B3DBDB;
  color: #000000;
}