.seccion_pagina{

    padding: 90px 20px 0 20px;
    margin-left: 300px;
  
  }

.estilo_calendario {
  position: absolute;
  top: 100px;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  background-color: #429642;
  padding: 10px;
  border-radius: 8px;
}